body {
	background-color: black;
}


#whiteborder {
	background-color: white;
	width: 400px;
	height: 400px;
	margin: 0 auto;
	border: 5px solid white;
	margin-top: 10%;
	margin-bottom: 10%;
	

}

.box {
	
	width: 200px;
	height: 200px;
	float: left;
	/*position: */
	
}

.red {
	background: red;
}

.green {
	background: green;
}

.blue {
	background: blue;
}

.yellow {
	background: yellow;
}